@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

/* max-width: 1440px; */
/* margin: 0 auto; */



.company-logo-info {
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.company-logo-info img {
  margin-right: 1rem;
  width: 86.041px;
  height: 40px;
}

.company-logo-info span {
  color: #FF42A5
}

.description-text {
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;

}

.primary-btn {
  color: #FFF;
  font-size: 15px;
  padding: 5px 8px;
  border: 0;
  border-radius: 48px;
  background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

header>nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 130px;
  padding: 5px 0;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* .company-logo-info h1 {} */

/* .company-logo-info h1 span {
  color:
} */

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 7rem;

}

header nav ul li {
  margin-left: 35px;
  font-size: 18px;
}

header nav ul li a {
  color: #3C354F;
  text-decoration: none;

}

.follow-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  /* font-size: 18px; */
  border: 0;
  border-radius: 14px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-banner-col {
  position: relative;
}

.banner-info {
  position: absolute;
  top: 5rem;
  left: 8rem;
}

/* .banner-title span {
  color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
} */

.small-text {
  display: flex;
  flex-direction: column;
  color: #534C64;
  font-size: 20px;
  gap: 5px;
  padding: 8px;
  margin-left: -7px;
  margin-bottom: 1rem;
}

.banner-btn {
  color: #FFF;
  font-size: 15px;
  background-color: #4EC5F7;
  border: 0;
  border-radius: 48px;
  background: #4EC5F7;
  padding: 5px 8px;
}

.right-banner-col {
  width: 50%;
}

.right-banner-col img {
  width: 62%;
  margin-left: 9em;

}

/* online videos container */
.online-videos-container {
  margin-top: 120px;
}

.online-video-info {
  text-align: center;
}

.online-video-info h3 {
  font-size: 38px;
}

.videos-image-container {
  display: flex;
  justify-content: center;
  margin: 0 1rem;

}

.video-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 263px;
  height: 355px;
  margin: 0 10px;
}

.videos-image {
  width: 100%;
}

.section-title {
  font-size: 38px;
  font-weight: 700;
}

.play-instantly-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 8rem; */
  margin-top: 120px;
}

.play-container-info {
  width: 50%;
  text-align: center;
  margin-left: 10rem;
}

.play-container-info h3 {
  width: 283px;
}

.play-container-info p {
  width: 314px;
}

.play-container-info h3 span {
  margin-left: 3.5rem;
}

.play-container-info p span {
  /* margin-left: 2rem */
}

#relative-image {
  position: relative;
}

#relative-image img {
  width: 83%;
}

#positioned-img {
  position: absolute;
  bottom: -38px;
  left: -100px;

}

#positioned-img img {
  width: 68%;
  border-radius: 8px;
  border: 1px solid rgba(189, 189, 189, 55%);
}

/* group buttons section */
.group-btn-container {
  height: 427px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  margin-top: 120px;
}

/* .group-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 155px 0;
} */

.group-btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  /* justify-content:space-around; */
  margin: 0 55px;
  padding: 145px 0;

}

/* #group-btn-6{
 margin-left: 55px;
 
} */
.group-btn::first-line {
  margin-left: 55px;
}

.group {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #0B0223;
  font-size: 18px;
  font-weight: 600;
  background-color: #FFF;
  /* padding: 8px 10px; */
  border: 0;
  border-radius: 50px;
}

.group:hover {
  border: 1px solid #FF42A5;
  cursor: pointer;
}

.group img {
  width: 38px;
  height: 38px;
}

/* footer section */
footer {
  color: #FFF;
  background-color: #0B0223;
  padding: 55px 0;
}

footer>.company-logo-info {
  display: flex;
  justify-content: center;
  margin: 0 95px;
  margin-bottom: 35px;
}

footer .company-logo-info img {
  margin-right: 1rem;
  width: 86.041px;
  height: 40px;
}

/* footer .company-logo-info h1 {
  margin: 0;
} */

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #FFF;
  text-decoration: none;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 124px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 35px;
}

.more-menu-options {
  margin-top: 35px;
}

.more-menu-options ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  margin: 0 158px;

}





@media screen and (max-width:576px) {

  .description-text {
    font-size: 18px;
    /* font-weight: 500; */
  }

  header>nav {
    flex-direction: column;
    padding: 35px 0;
    box-shadow: none;
    margin-bottom: 35px;
  }

  header nav .company-logo-info {
    margin-left: 0.5rem;
  }

  header>nav>ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-bottom: 1rem;
  }

  .banner {
    flex-direction: column-reverse;
  }

  /* .banner-text-background {
    width: 55%;
  } */
  .left-banner-col {
    width: 80%;
    margin-left: 35px;
  }

  #banner-bg {
    width: 100%;
  }

  .banner-info {
    top: 6rem;
    left: 2rem;
  }

  .right-banner-col {
    width: 80%;
    margin-top: 2rem;
  }

  .right-banner-col img {
    width: 92%;
    margin-left: 1em;
  }

  .online-videos-container {
    margin-top: 2rem;
  }

  .online-video-info h3 {
    font-size: 22px;
  }

  .videos-image-container {
    flex-direction: column;
    margin-left: 3rem;
  }

  .video-info {
    margin-top: 1rem;
  }

  .video-info p {
    font-size: 10px;
  }

  /* play instantly */
  .play-instantly-container {
    flex-direction: column;
    margin-top: 2rem;
    /* width: 100%; */
  }

  .play-container-info {
    width: 100%;
    margin-left: 0;
    /* border: 1px solid cyan; */
    margin-bottom: 3rem;
  }

  .play-container-info h3 {
    width: 55%;
    font-size: 28px;
    margin: 0;
    margin-left: 83px;
    /* border: 1px solid peachpuff; */
  }

  .play-container-info h3 span {
    /* margin-left: -3px; */
    margin-left: 0;

  }

  .play-container-info p {
    width: 298px;
    font-size: 14px;
    margin-left: 35px;
  }

  .play-container-info p span {
    margin-left: 0;
  }

  .play-container-image {
    width: 75%;
    margin-left: 14px;
  }

  #relative-image {
    width: 100%;
  }

  #relative-image img {
    width: 100%;

  }

  #positioned-img {
    left: -35px;
  }

  #positioned-img img {
    width: 45%;
  }

  /* group button */
  .group-btn {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 14px;
    margin-top: 2rem;
  }

  .group img {
    width: 24px;
    height: 24px;
  }

  .group {
    font-size: 14px;
    font-weight: 400;
    gap: 1px;

  }

  .menu-items {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 14px;
    margin: 0;
  }

  .more-menu-options ul {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    row-gap: 14px;
  }

}

@media screen and (min-width:576px) and (max-width: 960px) {

  header>nav {
    flex-direction: column;
    padding: 35px 0;
    box-shadow: none;
    margin-bottom: 14rem;
  }

  header nav .company-logo-info {
    margin-left: 0.5rem;
  }
  
.company-logo-info h1{
  font-size: 48px;
}
  header>nav>ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-bottom: 1rem;
    font-size: 24px;
  }

  .follow-btn{
    font-size: 24px;
  }
  .banner {
    flex-direction: column-reverse;

  }

  .banner-info {
    font-size: 24px;
    top: 32px;
    left: 32px;
  }

  .small-text {
    font-size: 28px;
  }

  .right-banner-col {
    width: 68%;
  }

  .right-banner-col img {
    width: 100%;
    margin: 0 1em;

  }

  .online-videos-container {
    margin-top: 60px;
  }

  /* play instantly */
  .play-instantly-container {
    flex-direction: column;
    margin-top: 60px;
  }

  .play-container-image {
    width: 75%;
    margin-left: 14px;
  }

  #relative-image {
    width: 100%;
  }

  #relative-image img {
    width: 100%;

  }

  #positioned-img {
    left: -35px;
  }

  #positioned-img img {
    width: 88%;
  }

  .play-container-info {
    width: 100%;
    margin-left: 0;
    /* border: 1px solid cyan; */
    margin-bottom: 3rem;
  }

  .play-container-info h3 {
    /* width: 55%;
    font-size: 28px;*/
    margin: 0 auto;
    /* margin-left: 98px;  */
    /* border: 1px solid peachpuff; */
  }

  .play-container-info p {
    width: 398px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .play-container-info p span {
    margin-left: 0;
  }

  .group-btn {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 14px;
  }

  .group img {
    width: 24px;
    height: 24px;
  }

  .group {
    font-size: 14px;
    font-weight: 400;
    gap: 1px;

  }

  .group-btn {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 14px;
  }

  .group img {
    width: 38px;
    height: 38px;
  }

  .group {
    font-size: 18px;
    font-weight: 400;
    gap: 1px;
    padding: 4px 5px;
  }

  footer ul li {
    font-size: 18px;
  }

  .menu-items {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 14px;
    margin: 0;
    margin-left: 83px;
  }

  .more-menu-options ul {
    /* grid-template-columns: repeat(2, 1fr); */
    margin: 0 55px;
    row-gap: 4px;
  }


}